* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  background: lightgrey url(images/cliff_ocean.jpg) no-repeat;
  background-size: 1500px;
  min-height: 400px;
  padding-top: 48px;
}

#activities header {
  background: no-repeat lightgrey url(images/runfly.jpg);
  background-size: 1500px;
}

#contact header {
  background: no-repeat lightgrey url(images/cliff_rock.jpg);
  background-size: 1500px;
}

.main-header {
  background-color: rgb(255, 255, 255, 0.8);
  min-height: 100px;
  height: 100px;
  margin: 32px auto 0 auto;
  width: 700px;
}

.main-header img {
  width: 100px;
  height: 100px;
  margin-right: 32px;
  float: left;
}

.main-header ul {
  /* display: flex; */
  margin-left: 227px;
  font-weight: 400;
}

.main-header li {
  list-style-type: none;
  display: inline-block;
  /* float: left; */
  padding: 0 25px;
  border-left: 1px solid rgba(202, 204, 202, 0.6);
  line-height: 100px;
  margin: auto 0;
  text-transform: uppercase;
  font-size: 14px;
}

.main-header li a {
  text-decoration: none;
  color: #888;
}

.main-header li a:hover {
  color: #9ed034;
}

.main-header li.active {
  background-color: #9ed034;
  border: none;
}

.main-header li.active a {
  color: #fff;
}

.container {
  padding: 60px 90px;
  font-family: Arial, Helvetica, sans-serif;
}

.container h1,
h2 {
  padding: 20px 0;
}

h1 {
  color: #a9e724;
}

.partners {
  width: 100%;
  background-color: #4288c3;
}

.partners ul {
  width: 1200px;
  padding: 32px 0;
  margin: 0 auto;
  text-align: center;
}

.partners ul li {
  display: inline-block;
  margin: 0 12px;
  padding: 20px 24px;
  /* list-style-type: none; */
  background-color: white;
  border-radius: 50%;
}

.partners ul li img {
  width: 90px;
  height: 90px;
}

footer {
  width: 100%;
  /* height: 155px; */
  padding-bottom: 16px;
  background-color: #ecfab8;
}

footer div {
  display: flex;
  justify-content: space-between;
  padding: 40px 170px 0 170px;
}

footer div ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

footer div ul li {
  list-style-type: none;
}

footer div ul li img {
  width: 30px;
}

footer .text {
  padding: 0 160px;
}

/* Activities */
#activities table {
  width: 1000px;
  margin: 48px auto;
}

#activities caption {
  background: #852b1b;
  /* height: 40px; */
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 16px 0;
}

#activities thead {
  background: #bde1ff;
}

#activities tbody {
  background: #eeffe6;
  text-align: center;
}

#activities th,
td {
  width: 225px;
  height: 75px;
  vertical-align: middle;
  border: 1px solid #852b1b;
}

th:first-child {
  width: 125px;
  height: 20px;
  background: #4977d1;
  color: #fff;
}

td:first-child {
  font-weight: bold;
  background: #bde1ff;
}

/* Contact page */
#contact {
  font-family: Arial, Helvetica, sans-serif;
}

#contact form {
  padding: 10px 0 70px 10px;
}
form fieldset {
  padding: 30px;
  border: 2px solid #9ed034;
}

form legend {
  color: #4977d1;
  text-transform: uppercase;
  font-weight: bold;
}

form label {
  font-weight: bold;
}

form input {
  width: 450px;
}

form textarea {
  width: 450px;
  height: 200px;
}

input[type="radio"] {
  width: inherit;
}

input[type="submit"] {
  width: 120px;
  margin: 10px 0 0 330px;
  font-weight: bold;
  color: #fff;
  border: #4288c3;
  background: #4977d1;
  padding: 10px 35px;
  font-size: 16px;
}

/* Cliffs page */

#cliffs header {
  background: no-repeat lightgrey url(images/forest_cliff.jpg);
  background-size: 1500px;
}

#cliffs main {
  margin: 90px 70px 50px 70px;
  font-family: Arial, Helvetica, sans-serif;
}

#cliffs .text {
  margin: 40px 0;
}

#cliffs .text p:first-child {
  padding-bottom: 20px;
}

#cliffs .imgs {
  margin: 0px 60px 90px 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
}

#cliffs .img {
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

#cliffs .img p {
  background: #852b1b;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 14px;
  font-size: 16px;
}

#cliffs .img img {
  width: 450px;
  height: 250px;
}

/* Home Current time */
#home .timeofday {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 300px;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(251, 215, 139, 1) 0%,
    rgba(118, 213, 245, 1) 100%
  );
}

/* Home Current time */
#home .timeofday span {
  color: #3a3a3a;
}

/* Home Current time */
#home .timeofday #clock {
  color: #125688;
}
